h1 {
	color: #5a5a5a;
	font-size: 100px;
	font-weight: bold;
	padding-top: auto;
	padding-bottom: auto;
	padding-right: auto;
	padding-left: auto;
	text-transform: uppercase;
}

<body style="background-image: url(photojournal.jpl.nasa.gov/jpeg/PIA11796.jgp)">



